body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  padding: 2rem;
  min-height: 70vh;
}

.form-builder,
.form-preview {
  width: 50%;
  padding: 1rem;
}

h1,
h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.form-builder {
  border-right: 1px solid #000000;
}

.add-field-btn,
.submit-btn,
.remove-field-btn,
.remove-option-btn,
.add-option-btn {
  background-color: #157ff1;
  color: #fff;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.field-config-container {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-top: 1rem;
}

.field-config-label {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 5px;
}

.validation-container {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.validation-box {
  display: flex;
  align-items: center;
}

.field-config-option-container {
  display: flex;
  column-gap: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

input,
select,
textarea {
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.3rem;
}

.min-max-container {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.remove-field-btn,
.remove-option-btn {
  background-color: rgb(239, 77, 77);
}

.options-container {
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
}

.option-box {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 0.5rem;
}

.inline-label {
  display: inline;
}

.field-container {
  margin-bottom: 1.3rem;
}

.form-select {
  width: 11rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.form-label {
  font-size: medium;
}

.main-header {
  margin-top: 1rem;
}

.error-msg {
  color: rgb(241, 57, 57);
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.1rem;
}

@media only screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .form-builder,
  .form-preview {
    width: 100%;
    padding: 1rem;
  }

  .form-builder {
    border-bottom: 1px solid #000000;
    border-right: 0;
  }
}
